.conteiner {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    border-radius: 1em;
}

.conteiner * {
    margin: 0;
}

.light {
    fill: var(--color-accent);
}

.dark {
    fill: var(--color-text-alternative);
}

.price {
    font-family: var(--font-numeric);
    font-size: 3em;
    font-weight: 900;
}

.listTitle {
    font-weight: 700;
    font-size: 1.2em;
}