.modalConteiner {
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    height: calc(100svh - 110px);
    background-color: var(--color-glass);
    backdrop-filter: blur(1px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    padding: clamp(15px, 3svw, 35px);
    z-index: 900;
}

.modalWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2svw;
    z-index: 910;
}

.imageWrapper {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 920;
}

.sign {
    cursor: pointer;
    width: clamp(20px, 4svw, 40px);
    height: clamp(15px, 3svw, 30px);
    min-width: clamp(20px, 4svw, 40px);
    min-height: clamp(15px, 3svw, 30px);
    background-color: var(--color-accent);
    border: 1px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign:hover,
.sign:focus-visible {
    scale: 1.2;
}

.rotate {
    rotate: 180deg;
}

.iconWrapper {
    position: absolute;
    top: 2svw;
    right: 2svw;
    cursor: pointer;
}

.iconWrapper:hover,
.iconWrapper:focus-visible {
    scale: 1.2;
}