# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite cache
.vite/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# IDE/editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Optional: lock files (jeśli chcesz wymusić npm install)
# package-lock.json
# yarn.lock

# Local Netlify folder
.netlify
