.footer {
    background-color: var(--color-secondary);
    color: var(--color-text-alternative);
    width: 100%;
}

.footerConteiner {
    width: clamp(320px, 100%, 1200px);
    margin-inline: auto;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footerContent{
    margin-inline: auto;
    display: grid;
    grid-template-areas: 
        "logo"
        "socialMedia"
        "contacts"
        "legal";
    gap: 4em;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-areas: 
            "socialMedia - logo"
            "contacts - legal";
    }

    @media screen and (min-width: 1200px) {
        grid-template-areas: "logo contacts legal socialMedia";
    }
}

.logo {
    grid-area: logo;
}

.contacts {
    grid-area: contacts;
}

.legal {
    grid-area: legal;
    display: flex;
    flex-direction: column;
}

.socialMedia {
    grid-area: socialMedia;
    display: flex;
    flex-direction: row;
    gap: 1em;

    @media screen and (min-width: 768px) {
        align-items: center;
        justify-content: center;
    }
}

.footerCopyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.footerCopyright p {
    margin: 0;
}

.madeBy {
    text-align: right;
}