.aboutMeContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.itemWrapper {
    display: flex;
    gap: 2em; 
    min-width: 100px;
}

.itemWrapper:nth-of-type(2n) {
    flex-direction: row-reverse;
}

.itemWrapper p {
    margin: 0;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: fit-content;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.title svg {
    translate: 0 0.55em;
}

.title h3 {
    margin: 0;
}

.imageWrapper {
    max-width: 30em;
    width: 100%;
    margin: auto;
}