.body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

.main {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}