/* src/fonts.css */

/* BlackOpsOne */
@font-face {
  font-family: 'BlackOpsOne';
  src: url('/fonts/BlackOpsOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DM Serif Display */
@font-face {
  font-family: 'DMSerifDisplay';
  src: url('/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Playfair Display */
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}