:root {
    --color-primary: #FFE7E2;
    --color-secondary: #754540;
    --color-text: #754540;
    --color-text-alternative: #FFE7E2;
    --color-accent: #A36963;
    --color-glass-accent: #A3686233;
    --color-glass: #FEFEFE33;
    --color-shadow: #00000033;
    --color-error: red;
    --color-error-alternative: #ff7676;
    --color-accept: green;
    --color-warning: orange;

    --font-heading: 'PlayfairDisplay', 'Times New Roman', Georgia, serif;
    --font-heading-alternative: 'DMSerifDisplay', Georgia, 'Times New Roman', serif;
    --font-paragraph: 'Montserrat', Arial, Helvetica, sans-serif;
    --font-logo: 'BlackOpsOne', Impact, 'Arial Black', sans-serif;
    --font-numeric: 'MontaguSlab', 'Rockwell', 'Courier New', serif;

    --transition-primary: 200ms ease;

    --sqrt2: 1.41421356237;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    font-family: var(--font-paragraph);
    font-size-adjust: 0.54;
    line-height: 1.5;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 1rem;
    min-width: 320px;
    width: 100%;
}

#root{
    width: 100%;
}

a, a:hover {
    font-family: var(--font-paragraph);
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-family: var(--font-heading);
    font-size-adjust: 0.45;
    margin-bottom: 1em;
}

h3 {
    font-family: var(--font-heading-alternative);
    font-size-adjust: 0.50;
    margin-bottom: 1em;
}

h1, h3 {
    font-weight: 400;
    font-size: 1.75rem;
}

h2 {
    font-weight: 700;
    font-size: 2.125rem;
}

p {
    margin-bottom: 1.5em;
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
    min-width: 100px;
}

ul, ol {
    list-style-position: inside;
    list-style-type: none;
    margin-left: 1em;
}

a, a:hover,
button {
    font-family: var(--font-paragraph);
    font-size-adjust: 0.54;
    font-weight: 900;
}

button {
    font-family: var(--font-paragraph);
    font-weight: 900;
    padding: 0.75em 1em;
    border-radius: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

    @media screen and (min-width: 480px) {
        padding: 15px;
    }

    @media screen and (min-width: 768px) {
        padding: 25px;
    }

    @media screen and (min-width: 1200px) {
        padding: 35px;
    }
}

