:root {
    --color-primary: #FFE7E2;
    --color-secondary: #754540;
    --color-accent: #A36963;
    --color-glass-accent: #A3686233;
    --color-glass: #FEFEFE33;
    --color-shadow: #00000033;
    --color-error: red;
    --color-error-alternative: #ff7676;
    --color-accept: green;
    --color-warning: orange;

    --font-heading: 'PlayfairDisplay', serif;
    --font-heading-alternative: 'DMSerifDisplay', serif;
    --font-paragraph: 'Montserrat', sans-serif;
    --font-logo: 'BlackOpsOne', sans-serif;
    --font-numeric: 'MontaguSlab', sans-serif;

    --transition-primary: 200ms ease;

    --sqrt2: 1.41421356237;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-paragraph);
    line-height: 1.5;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 1rem;
    display: grid;
}

a, a:hover {
    font-family: var(--font-paragraph);
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-family: var(--font-heading);
    margin-bottom: 1em;
}

h3 {
    font-family: var(--font-heading-alternative);
    margin-bottom: 1em;
}

h1, h3 {
    font-weight: 400;
    font-size: 1.75rem;
}

h2 {
    font-weight: 700;
    font-size: 2.125rem;
}

p {
    margin-bottom: 1.5em;
    font-size: 1rem;
    line-height: 1.6;
}

ul, ol {
    list-style-position: inside;
    list-style-type: none;
    margin-left: 1em;
}

button {
    font-family: var(--font-paragraph);
    font-weight: 900;
    padding: 0.75em 1em;
    border-radius: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

    @media screen and (min-width: 480px) {
        padding: 15px;
    }

    @media screen and (min-width: 768px) {
        padding: 25px;
    }

    @media screen and (min-width: 1200px) {
        padding: 35px;
    }
}

