.logoConteiner {
    position: relative;
    width: 6.444em;
    height: 4.64em;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 6.5em;
    height: 6.5em;
    top: -0.92em;
    left: 0;
    fill: inherit;
}