.icon {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: fill var(--transition-primary), background-color var(--transition-primary);
}

.light {
    fill: var(--color-text);
}

.dark {
    fill: var(--color-text-alternative);
}

.light:hover {
    background-color: var(--color-secondary);
    fill: var(--color-text-alternative);
}

.dark:hover {
    background-color: var(--color-primary);
    fill: var(--color-text);
}

.dark:active {
    box-shadow: inset 0 0 2px 3px var(--color-glass);
}

.light:active {
    box-shadow: inset 0 0 2px 3px var(--color-shadow);
}