.conteiner {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: 100%;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: 1em;
    border: 5px solid var(--color-primary);
    box-shadow: 2px 2px 6px 2px var(--color-shadow);
    flex: 1;
}

.conteiner > *:last-child {
    margin-top: auto;
}

.conteiner * {
    margin: 0;
}

.active {
    background-image: linear-gradient(var(--color-glass-accent));
    border: 5px solid var(--color-accent);
}

.description {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.6em *3);
}

.price {
    font-family: var(--font-numeric);
    font-size: 3em;
    font-weight: 900;
}

.detailsList {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.detailsList li{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.detailsList svg{
    translate: 0 0.2em;
}