.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: start;
    overflow-y: hidden;
    transition: height var(--transition-primary), padding var(--transition-primary);
}

.deactive {
    height: 0;
    padding: 0;
}