.sectionConteiner {
    width: clamp(320px, 100%, 1200px);
    margin-inline: auto;
    padding: 4em 1em;

    @media screen and (min-width: 768px) {
        padding-inline: 1.5em;
    }

    @media screen and (min-width: 1200px) {
        padding-inline: 2em;
    }
}

.sectionConteiner h2 {
    margin-inline: auto;
    width: fit-content;
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 4em;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1;
    max-width: 600px;
}

.content > * {
    margin: 0;
}

.form {
    width: clamp(200px, 100%, 550px);
    margin-left: auto;
}