.link {
    position: relative;
    text-shadow: 3px 3px 2px var(--color-shadow);
    transition: text-shadow var(--transition-primary);
    border-radius: 0;
    padding-inline: 0;
    margin-inline: 1em;
}

.linkLight {
    color: var(--color-secondary);
}

.linkDark {
    color: var(--color-primary);
}

.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width var(--transition-primary);
}

.linkLight::before {
    background-color: var(--color-accent);
}

.linkDark::before {
    background-color: var(--color-primary);
}

.link:hover::before,
.link:focus-visible::before {
    width: 100%;
}

.link:active {
    text-shadow: 3px 3px 2px var(--color-accent);
}

.link:active::before {
    width: 0;
}
