.list {
    display: flex;
    gap: 1em;
}

.item {
    padding: 0.3em 1em;
    cursor: pointer;
    transition: text-shadow var(--transition-primary);
}

.light .active {
    color: var(--color-text-alternative);
    text-shadow:
        -2px -2px 0 var(--color-secondary),
        0   -2px 0 var(--color-secondary),
        2px -2px 0 var(--color-secondary),
        2px  0   0 var(--color-secondary),
        2px  2px 0 var(--color-secondary),
        0    2px 0 var(--color-secondary),
        -2px  2px 0 var(--color-secondary),
        -2px  0   0 var(--color-secondary);
}

.dark .active {
    color: var(--color-text);
    text-shadow:
        -2px -2px 0 var(--color-primary),
        0   -2px 0 var(--color-primary),
        2px -2px 0 var(--color-primary),
        2px  0   0 var(--color-primary),
        2px  2px 0 var(--color-primary),
        0    2px 0 var(--color-primary),
        -2px  2px 0 var(--color-primary),
        -2px  0   0 var(--color-primary);
}
