.topContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    width: 90%;

    @media screen and (min-width: 768px) {
        width: clamp(622px, 100%, 75%);
    }
}

.content * {
    margin: 0;
}