.offersList {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

    @media screen and (min-width: 1000px) {
        flex-direction: unset;
        flex-wrap: wrap;
    }
}

.offersList > div {
    @media screen and (min-width: 1000px) {
        flex-basis: calc((100% - 2em) / 2);
        max-width: calc((100% - 2em) / 2);
    }
}