.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 4em;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.sectionContainer > * {
    @media screen and (min-width: 1200px) {
        flex: 1;
    }
}