.categoriesList {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.categoriesList > * {
    flex-basis: 100%;
    
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2em) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4em) / 3);
    }
}