.title {
    font-size: 3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-primary);
    text-shadow: 0 0 4px var(--color-secondary);
    filter: drop-shadow(0 0 4px var(--color-secondary));
}