.sectionConteiner {
    width: 100%;
}

.dark {
    background-color: var(--color-secondary);
    color: var(--color-text-alternative);
}

.offersList {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media screen and (min-width: 1000px) {
        flex-direction: unset;
        flex-wrap: wrap;
    }
}

.offersList > div {
    @media screen and (min-width: 1000px) {
        flex-basis: calc((100% - 2em) / 2);
    }
}